---
import { Picture } from '@astrojs/image/components';
import WorkLayout from '../layouts/WorkLayout.astro'
import '@styles/work.css'
import image1 from '../images/am-screen1.png'
import image2 from '@images/am-screen2.png'
import mgHero from '@images/mg-hero.jpg'
---

<WorkLayout>
	<section class="hero">
		<video autoplay loop muted>
			<source src="/assets/am-anim-converted.mp4" type="video/mp4">
		</video>
	</section>
	<section class="content">
		<h1>A striking new look</h1>
		<svg width="234" height="57" viewBox="0 0 234 57" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
			<g clip-path="url(#clip0_19_8)">
			<path d="M66.0582 17.7333L57 38.8245H61.0368L63.1148 33.6903H72.288L74.366 38.8238H78.4027L69.3445 17.7333H66.0575H66.0582ZM64.4395 30.4201L67.7017 22.3953L70.9625 30.4201H64.4402H64.4395ZM98.2798 19.2967L92.2368 27.6423H94.7798V35.1237C94.7798 36.3015 95.1376 37.2282 95.8419 37.877C96.5447 38.5252 97.5692 38.8532 98.8868 38.8532H100.513V35.7596H99.5378C99.1923 35.7927 98.8469 35.6947 98.5688 35.4847C98.4614 35.3588 98.3805 35.2123 98.3308 35.0538C98.2812 34.8954 98.2638 34.7285 98.2798 34.5631V27.6423H101.195V24.7554H98.2798V19.2967V19.2967ZM90.0388 34.904L89.8329 35.026C88.7951 35.6672 87.6051 36.0127 86.3889 36.0259C85.8141 36.051 85.2402 35.9589 84.7014 35.755C84.1625 35.5512 83.6697 35.2398 83.2524 34.8394C82.4864 34.0127 82.0602 32.9224 82.0602 31.7896C82.0602 30.6568 82.4864 29.5664 83.2524 28.7397C83.6699 28.3396 84.1627 28.0284 84.7015 27.8247C85.2404 27.621 85.8142 27.529 86.3889 27.554C87.5752 27.567 88.7369 27.8971 89.7562 28.5108L91.6851 25.8464L91.5091 25.7358C90.0008 24.789 88.2572 24.2954 86.4819 24.3125C85.032 24.287 83.5968 24.6095 82.294 25.2535C81.1077 25.8475 80.1097 26.7655 79.413 27.9035C78.7327 29.0831 78.3742 30.4241 78.3742 31.7896C78.3742 33.155 78.7327 34.496 79.413 35.6756C80.1095 36.8138 81.1076 37.7319 82.294 38.3257C83.5968 38.9696 85.032 39.2921 86.4819 39.2667C88.2568 39.2839 90.0004 38.7908 91.5084 37.8433L91.541 37.8232L91.6866 37.7321L90.0395 34.904H90.0388ZM106.868 24.7554H103.368V38.8238H106.868V24.7554V24.7554ZM117.557 38.8245L123.511 24.7554H119.438L115.975 34.4683L112.542 24.7554H108.471L114.393 38.8238H117.558L117.557 38.8245ZM124.191 35.7137C124.817 36.836 125.754 37.7485 126.887 38.3386C128.147 38.9786 129.544 39.2972 130.954 39.2667C132.248 39.2924 133.53 39.0028 134.691 38.4222C135.851 37.8417 136.856 36.9873 137.621 35.9312L137.741 35.7747L135.264 33.5553L135.11 33.7541C134.615 34.396 134.02 34.9524 133.349 35.4014C132.612 35.8592 131.757 36.0864 130.892 36.0546C129.83 36.0957 128.794 35.722 127.997 35.011C127.294 34.3525 126.865 33.4478 126.797 32.4808H137.883V31.7896C137.883 29.5228 137.253 27.6925 136.011 26.3488C134.761 24.998 133.008 24.3125 130.798 24.3125C129.4 24.2813 128.019 24.6174 126.788 25.2879C125.672 25.9127 124.758 26.8505 124.157 27.9882C123.544 29.1688 123.232 30.4855 123.249 31.819C123.222 33.1777 123.547 34.5199 124.191 35.713V35.7137ZM128.15 28.1268C128.895 27.6541 129.757 27.4044 130.636 27.4066C131.515 27.4088 132.376 27.6627 133.118 28.139C133.399 28.3545 133.632 28.6266 133.803 28.9379C133.974 29.2493 134.08 29.5931 134.113 29.9478H126.989C127.153 29.2221 127.564 28.5768 128.15 28.126V28.1268ZM162.12 17.7333L157.005 30.115L151.89 17.7333H148.915L143.532 38.8238H147.45L150.946 24.4898L155.64 35.667H158.37L163.065 24.4898L166.56 38.8238H170.479L165.094 17.7333H162.12ZM182.919 26.3495C182.469 25.7884 181.91 25.3258 181.278 24.9901C180.338 24.517 179.298 24.2843 178.249 24.3125C176.984 24.299 175.738 24.6141 174.628 25.2277C173.538 25.8393 172.635 26.7405 172.015 27.8339C171.375 29.0521 171.041 30.4103 171.041 31.7896C171.041 33.1688 171.375 34.527 172.015 35.7453C172.635 36.8385 173.538 37.7395 174.628 38.3508C175.738 38.9647 176.984 39.28 178.249 39.2667C179.298 39.2949 180.338 39.0622 181.278 38.5891C181.91 38.2536 182.469 37.7913 182.919 37.2303V38.8238H186.419V24.7554H182.919V26.3488V26.3495ZM181.926 34.8409C181.488 35.3394 180.947 35.7353 180.342 36.0012C179.737 36.267 179.081 36.3964 178.422 36.3803C177.762 36.3642 177.114 36.203 176.522 35.9079C175.93 35.6128 175.409 35.191 174.995 34.6716C174.58 34.1523 174.283 33.548 174.123 32.9007C173.963 32.2534 173.945 31.5786 174.069 30.9234C174.193 30.2681 174.457 29.6481 174.842 29.1064C175.227 28.5647 175.725 28.1143 176.299 27.7865C176.991 27.3926 177.772 27.1887 178.566 27.195C179.359 27.2013 180.138 27.4177 180.823 27.8226C181.508 28.2275 182.076 28.8067 182.471 29.5027C182.866 30.1987 183.074 30.9872 183.074 31.7896C183.097 32.3501 183.007 32.9094 182.809 33.4338C182.612 33.9581 182.312 34.4366 181.926 34.8401V34.8409ZM194.096 19.2967L188.053 27.6423H190.596V35.1237C190.596 36.3015 190.953 37.2282 191.658 37.877C192.361 38.5252 193.386 38.8532 194.703 38.8532H196.329V35.7596H195.354C195.009 35.7925 194.663 35.6946 194.385 35.4847C194.278 35.3587 194.197 35.2122 194.148 35.0538C194.098 34.8954 194.08 34.7285 194.096 34.5631V27.6423H197.011V24.7554H194.096V19.2967V19.2967ZM203.909 19.2967L197.866 27.6423H200.409V35.1237C200.409 36.3015 200.766 37.2282 201.471 37.877C202.174 38.5252 203.199 38.8532 204.516 38.8532H206.142V35.7596H205.167C204.822 35.7926 204.476 35.6946 204.198 35.4847C204.091 35.3588 204.01 35.2122 203.96 35.0538C203.911 34.8954 203.893 34.7285 203.909 34.5631V27.6423H206.824V24.7554H203.909V19.2967V19.2967ZM214.843 24.3125C213.445 24.2811 212.063 24.617 210.833 25.2872C209.717 25.9123 208.803 26.8503 208.202 27.9882C207.589 29.1689 207.277 30.4855 207.293 31.819C207.268 33.1777 207.592 34.5197 208.236 35.713C208.862 36.8357 209.799 37.7487 210.932 38.3393C212.192 38.9792 213.588 39.2976 214.999 39.2667C216.293 39.2924 217.575 39.0027 218.735 38.4221C219.896 37.8416 220.901 36.9872 221.666 35.9312L221.786 35.7747L219.309 33.5553L219.155 33.7541C218.66 34.3962 218.065 34.9526 217.394 35.4014C216.656 35.8593 215.801 36.0865 214.936 36.0546C213.875 36.0955 212.838 35.7215 212.042 35.0102C211.339 34.352 210.909 33.4476 210.842 32.4808H221.928V31.7896C221.928 29.5228 221.298 27.6925 220.055 26.3488C218.806 24.998 217.052 24.3125 214.843 24.3125V24.3125ZM211.034 29.947C211.198 29.2214 211.609 28.577 212.194 28.126C212.939 27.6537 213.801 27.4043 214.681 27.4065C215.56 27.4088 216.421 27.6628 217.163 28.139C217.444 28.3546 217.677 28.6266 217.848 28.938C218.019 29.2493 218.125 29.5931 218.158 29.9478H211.034V29.947ZM232.335 24.3419C231.214 24.3094 230.114 24.647 229.2 25.3037C228.602 25.7496 228.11 26.3243 227.758 26.9862V24.7554H224.258V38.8238H227.758V32.5569C227.758 31.0309 228.122 29.9061 228.84 29.2142C229.555 28.5237 230.648 28.1734 232.087 28.1734H232.783V24.3419H232.335ZM105.117 22.8942C105.705 22.8942 106.269 22.6581 106.684 22.2379C107.1 21.8177 107.333 21.2478 107.333 20.6536C107.333 20.0594 107.1 19.4895 106.684 19.0693C106.269 18.6491 105.705 18.4131 105.117 18.4131C104.53 18.4131 103.966 18.6491 103.551 19.0692C103.135 19.4893 102.902 20.0591 102.902 20.6533C102.902 21.2474 103.135 21.8172 103.551 22.2373C103.966 22.6574 104.53 22.8934 105.117 22.8934V22.8942Z" fill="white"/>
			</g>
			<g clip-path="url(#clip1_19_8)">
			<path fill-rule="evenodd" clip-rule="evenodd" d="M32.2493 0L57 57H46.2498L42.2611 47.2289H14.7389L10.7515 57H0L24.7507 0H32.2493ZM24.6291 20.8265L15.3457 35.4667L19.7815 36.8144L23.9843 30.1847L23.7728 35.9505L28.0503 37.24L32.4229 30.267L32.2101 36.0303L36.3305 37.2717L40.5574 29.8971L39.8734 29.6919L36.8359 32.2633L37.2121 22.0793L33.0638 20.8379L28.5507 28.0326L28.7711 22.0793L24.6291 20.8278V20.8265Z" fill="white"/>
			</g>
			<defs>
			<clipPath id="clip0_19_8">
			<rect width="176.067" height="21.5333" fill="white" transform="translate(57 17.7333)"/>
			</clipPath>
			<clipPath id="clip1_19_8">
			<rect width="57" height="57" fill="white"/>
			</clipPath>
			</defs>
		</svg>

		<div class="bodyContent">
			<div class="text">
				<p>My final piece of work before leaving my friends at Active Matter for pastures new was the second major update to their website that I had made. This time the goal was to have a more striking look, and more purposeful messaging.</p>
				<h2>It's the little touches</h2>
				<p>As with so much in the design world, its the last 5% that makes for the most significant change in the “feel” of a project. The attention to detail; the craft. We wanted to make sure that this project really felt like there was a real attention to detail given to it.</p>
				<p>In this case, that meant interpreting the designs being worked on creatively – turning a flat illustration into an animated mural, turning a highlighted bit of text in the header into an animation which we used in a great many other places. Making sure that all these small interactions felt like they had been crafted, rather than just put together, was really important here – the website might not be the first point of contact for prospective customers, but it is an important reference point and a user’s first impression of what they see here will inform their opinion of the care that the Active Matter team will take of thier brand and product.</p>
				<h2>The tech</h2>
				<p><span class="title">Front-end:</span> Gatsby, React, PostCSS</p>
				<p><span class="title">Back-end:</span> Sanity</p>
				<p><span class="title">Hosting & Continuous deployment:</span> Netlify</p>
			</div>
			<div class="images">
				<Picture src={image1} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960]} sizes="(max-width: 960px) 100vw, 420px" formats={['avif', 'jpeg', 'png', 'webp']} alt="Active Matter website screenshot" />
				<Picture src={image2} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960]} sizes="(max-width: 960px) 100vw, 420px" formats={['avif', 'jpeg', 'png', 'webp']} alt="Active Matter website screenshot" />
			</div>
		</div>
		<a class="btn" href="https://activematter.co" target="_blank" rel="noopener noreferrer">Visit</a>
		<a class="next" href="/milly-grace">
			<Picture src={mgHero} widths={[280, 320, 380, 420, 450, 560, 640, 768, 880, 960, 1024, 1120, 1180, 1200, 1280, 1360, 1400]} sizes="100vw" formats={['avif', 'jpeg', 'png', 'webp']} alt="Go to next project" />
			<span>
				<svg width="41" height="22" viewBox="0 0 41 22" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_43_25)">
					<path d="M28.816 1L38.914 11L28.816 21M38.213 11H0" stroke="white" stroke-width="2" stroke-miterlimit="10"/>
					</g>
					<defs>
					<clipPath id="clip0_43_25">
					<rect width="41" height="22" fill="white"/>
					</clipPath>
					</defs>
				</svg>
			</span>
		</a>
	</section>
</WorkLayout>